@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  --Very-Dark-Blue-Secondary: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

.btn {
  background-color: hsl(207, 26%, 17%);
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: var(--White);
  border: 2px solid var(--Dark-Blue);
  border-radius: 4px;
  padding-top: 1px;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #fff;
  color: var(--Very-Dark-Blue-Secondary);
}

.btn-light {
  background-color: var(--Dark-Blue);
  border: 2px solid var(--Dark-Blue);
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #202d36;
  color: #fff;
}

body.light-theme {
  background-color: var(--Very-Light-Gray);
  color: var(--Very-Dark-Blue-Secondary);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b3743;
  padding: 10px 20px;
  box-shadow: 0 5px 10px hsla(200, 15%, 8%, 0.1);
}

body.light-theme header {
  background-color: var(--White);
  color: var(--Very-Dark-Blue-Secondary);
}

/* Filter */
.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.filter .form-control {
  width: 100%;
}

.filter .form-control input {
  background-color: #2b3743;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 5px;
  color: var(--White);
  font-family: inherit;
  letter-spacing: 0.5px;
  width: 100%;
  margin: 0 0 30px;
}

/* Placeholder Text Visibility */
.filter .form-control input::placeholder {
  color: var(--Dark-Gray);
}

body.light-theme .filter .form-control input {
  background-color: var(--White);
  color: var(--Very-Dark-Blue-Secondary);
  border: 1px solid var(--Dark-Gray);
}

body.light-theme .filter .form-control input::placeholder {
  color: var(--Dark-Gray);
}

/* Region Filter */
.filter .region-filter .select {
  background-color: #2b3743;
  color: #fff;
  font-family: inherit;
  padding: 12px;
  width: 200px;
  border: none;
  border-radius: 5px;
}

body.light-theme .filter .region-filter .select {
  background-color: var(--White);
  color: var(--Very-Dark-Blue-Secondary);
  border: 1px solid var(--Dark-Gray);
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 20px;
}

.grid article img {
  border-radius: 5px 5px 0 0;
}

.grid .details {
  background-color: #2b3743;
  padding: 40px 20px;
  margin-top: -20px;
  border-radius: 0 0 5px 5px;
  color: #fff;
}

body.light-theme .grid .details {
  background-color: var(--White);
  color: var(--Very-Dark-Blue-Secondary);
}

.grid .details h3 {
  padding-bottom: 10px;
}

.grid .details h4 {
  padding-bottom: 5px;
}

.grid .details h4 span {
  font-weight: 300;
}

/* Responsive Design */
@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .filter {
    flex-direction: row;
    justify-content: space-between;
  }
  .filter .form-control {
    width: auto;
  }
  .filter .form-control input {
    width: auto;
    margin: 0;
  }
  .filter .region-filter {
    width: auto;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .header,
  .filter,
  .grid {
    padding: 20px 100px;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
  }
}
